[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
os = "*"
statistics = "*"
math = "*"
tensorflow = "*"
keras = "*"
pickle = "*"
sklearn = "*"
pandas = "*"
numpy = "*"
seaborn = "*"
matplotlib = "*"
random = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.12"
